@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}

.main {
  background-image: url("assets/images/bg.jpg");
  height: 70vh;
  background-size: max(1200px, 100vw);
  background-position: center center;
  background-repeat: no repeat;
  position: relative;
}
.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  background-color: black;
}
nav {
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 62px;
}
nav img {
  color: red;
  width: 120px;
  position: relative;
  z-index: 10;
}
vav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding: 0 30px;
}

.hero > :first-child {
  font-weight: bolder;
  text-align: center;
  font-size: 48px;
}
.hero > :nth-child(2) {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
}

.hero > :nth-child(3) {
  font-weight: 500;
  text-align: center;
  font-size: 20;
}
.separation {
  height: 5px;
  background-color: rgb(59, 58, 58);
  position: relative;
  z-index: 20px;
}

.btn {
  padding: 3px 8px;
  font-weight: bold;
  color: white;
  background-color: rgba(233, 223, 223, 0.023);
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}
.btn-2 {
  background-color: red;
  color: white;
  padding: 10px 20px;
}

.btn-3 {
  background-color: red;
  color: white;
  font-weight: 400;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 15px;
}
.main input {
  padding: 7px 15px 8px 14px;
  font-size: 12px;
  color: white;
  border-radius: 9px;
  background-color: rgba(23, 23, 23, 0.2);
  border: 1px solid rgba(246, 233, 233, 0.5);
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.fist {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.secimg {
  position: relative;
}

.secimg img {
  position: relative;
  z-index: 10;
}
.secimg video {
  position: absolute;
  top: 51px;
  right: 0;
}
section.fist > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.fist > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}
section.fist > div :nth-child(2) {
  font-size: 24px;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}
.faq h2 {
  text-align: center;
  font-size: 48px;
}
.faqbox :hover {
  background-color: #414141;
  color: white;
}
.faqbox svg {
  filter: invert(1);
}
.faqbox {
  transition: all 2s ease-out;
  font-size: 40px;
  display: flex;
  background-color: #2d2d2d;
  justify-content: space-between;
  padding: 34px;
  max-width: 40vw;
  margin: 34px auto;
  cursor: pointer;
}
footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 60px;
}

footer.question {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

@media screen and (max-width: 1300px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 305px;
  }

  .secImg video {
    width: 305px;
  }
}

.hero > :nth-child(1) {
  font-size: 32px;
}

.hero > :nth-child(2) {
  font-size: 18px;
}

.hero > :nth-child(3) {
  font-size: 18px;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.faq h2 {
  text-align: center;
  font-size: 32px;
}

footer {
  max-width: 90vw;
  padding: 75px 0;
}

.footer-item {
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

.footer a {
  font-size: 14px;
  color: white;
}

.footre-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
